@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<p>If you have any questions, feel free to reach out to us!</p>

<div>
    <p><strong>Name:</strong> @Model.Name</p>
    <a href="mailto:@(Model.Email)">@Model.Email</a>
    <p>
        <a href="https://github.com/otto1999haertel/FuelDistanceCalculator" target="_blank">github Repository</a>
    </p>
</div>