@page "/history"
@model HistoryModel

<h3>Gespeicherte Berechnungen</h3>

<table class="table">
    <thead>
        <tr>
            <th>Tankstelle 1</th>
            <th>Tankstelle 2</th>
            <th>Gesamtkosten 1</th>
            <th>Gesamtkosten 2</th>
            <th>Datum</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
