@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JEP2Q2QZMH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JEP2Q2QZMH');
</script>

<h1>@ViewData["Title"]</h1>

<p>All your data will be sold!</p>
